<div class="home-banner">
  <div class="home-banner-text">
    <h1>Welcome to Islandia</h1>
  </div>
</div>

<div class="cards">
    <% @islands.each do |i| %>
      <div class= "card">
        <%= cl_image_tag i.photos[0].key, crop: :fill, class: "card-img" %>
        <%= link_to i.name, island_path(i), class: "link" %>
      </div>
    <% end %>
</div>




<%= link_to 'Add an island', new_island_path, class: 'button' %>
