<div class="banner">
  <div class="banner-text">
    <h1>Welcome to Islandia</h1>
  </div>
</div>

<div class="container">
  <ul>
    <% @islands.each do |i| %>
      <li class="card"><%= link_to i.name, island_path(i), class: "link" %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Add an island', new_island_path, class: 'button' %>
