h1 {
  text-align: center;
  font-family: sans-serif;
}

.form-inputs {
  width: fit-content;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  justify-content: center;
  position: relative;
}

.form-control {
  border-radius: 20px;
  border-color: rgb(53, 53, 53);
}

.form-control:hover {
  border-color: rgb(0, 132, 255);
}
.main-adds {
  border: 1px solid rgb(0, 132, 255);
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(0, 132, 255, 0.082);
}

.additional-adds {
  border: 1px solid rgb(0, 132, 255);
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(0, 132, 255, 0.082);
  margin-top: 20px
}

.image-adds {
  border: 1px solid rgb(0, 132, 255);
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(0, 132, 255, 0.082);
  margin-top: 20px
}
