

// .banner {
//   position: relative;
//   height: 450px;
//   background-repeat:no-repeat;
//   background-size: 100%;
//   background-position: 50%;
//   text-align: center;
//   padding: 200px;

// }

.banner h1 {
  padding-top: 300px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
}

.banner {
  height: 450px;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-bottom: 60px;
  box-shadow: 0px 3px 8px #8b8b8b;
}

// .container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }

// .island-info {
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   background-color: white;
//   margin: auto;
//   margin-top: 50px;
//   margin-bottom: 50px;
//   text-align: center;
//   border-radius: 10px;
// }

.book, .info {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgb(255, 255, 255);
}

.book {
  height: 50%;
  width: 400px;
}

.info {
  height: 800px;
  width: 750px;
}

.island-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
}

.host-info {
  margin-bottom: 30px;
  background-color: gray;
  padding-top: 50px;
  padding-bottom: 20px;
}

.photo {
  display: flex;
  justify-content: center;
}

.name {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.name h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
  color: white;
}

.numbers {
  margin: 30px;
}
.icons {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
