
<div class="topnav" id="myTopnav">

<div>
 <a href="#Islandia" class="active">Islandia</a>

</div>
<div>
<a href="">New booking</a>
  <a href="">Contact</a>
  <a href="">About</a>

</div>
<div>
<% if user_signed_in? %>
<%= link_to "sign out",  destroy_user_session_path, method: "delete" %>
<% else %>
<%= link_to "sign in", new_user_session_path %>


<% end %>

</div>



</div>
